<!DOCTYPE html>
<html>
<head>
  <title><%= error.status %> - EM梯电传媒</title>
  <%- include("./_include/head.ejs") %>
  <!--webpack_style_placeholder-->
</head>
<body>
  <%- include("./_include/header.ejs") %>
  <div id="layout-main">
    <div class="container">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </div>
  </div>
  <%- include("./_include/footer.ejs") %>
  <!--webpack_script_placeholder-->
</body>
</html>
